.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  box-sizing: border-box;
  background: linear-gradient(120deg, #f3f6fa 65%, #e7ecf5 100%);
  border-radius: 1.5rem;
  box-shadow: 0 6px 26px 0 rgba(53, 53, 206, 0.1);
}

@media (max-width: 700px) {
  .container {
    gap: 1.2rem;
    padding: 1rem 0.3rem;
    border-radius: 0.7rem;
  }
}