h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}
body {
    background-color: rgb(96, 16, 143);
}

.centro {
    background-color: rgb(14, 13, 13); 
    border-radius: 100px; /* deixa com bordas arredondas*/
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1); /* sombra*/
    padding:300px; /* tamanho do quadrado*/
    width: 100%;
    box-sizing: border-box; /* deixa o quadrado centralizado na tela*/
    border-style: solid;
    width: calc(100% - 580px); /* deixa o espaçamento entre o quadrado e a borda/tela*/
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Loogin {
    color: rgb(248, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 650;
    margin-top: -200px;
    
}

.botao {
    width: 165px;
    color: blue;
}