.header{
    text-align: center;
    padding: 2rem;
    background-color: rgba(8, 33, 255, 0.81);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

.nav{
    display: flex;
    justify-content: center;
}
.h1 {
    display: inline;
    margin: 1rem;
    list-style: none;
}

.h1 {
    text-decoration: none;
    color: rgb(224, 37, 24);
}